<!DOCTYPE html>
<html lang="en">
<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <link rel="stylesheet" href="static/style.css">
          <title>Django URL shortner app</title>
</head>
<body>
          <div class="container">
                   
                    <form method="post">
                              <h1>Django URL Shortner App</h1>
                              {% csrf_token %}
                              <label>Input a Url to Shorten</label>
                              <input type="url"name="url"placeholder="https://example.com/xyz"required>
                              <input type="submit"value="Short It">
                              <span class="shorted"></span>
                    </form>
                    
          </div>
          <script src="static/jquery.js"></script>
          <script src="static/script.js"></script>
</body>
</html>